
.input{
    margin: 10px;
}

.add{
    cursor: pointer;
    background-color: white;
    border: none;
    color: #f41e1e;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;

    opacity: 0.8;
    transition: 0.3s;
}

.goal.checked {
    background-color: #C0C0C0;
    padding: 20px;
    color:white;
    margin: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 60px;
}

.formButton{
    cursor: pointer;
    transition: 0.3s;
    background-color: #f41e1e;
    border: none;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
}

div.goal.checked::before {
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

div.goal:nth-child(even) {
    background-color: #FFB6C1;
  }

.done.checked {
    background-color: grey;
}

.name.checkedName {
    text-decoration: line-through;
}

.goal{
    align-items: center;
    padding: 20px;
    background-color: #D8BFD8;
    color:white;
    margin: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 60px;
}

.goalForm{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #F08080;
    margin-top: 0px;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


.title{
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    margin-bottom: 0px;
    background-color: #F08080;
    color: white;
    height: 30px;
    vertical-align: middle;
}

.close{
    position: absolute;
    right: 200px;
    /*position: center;*/
    cursor: pointer;
    /*right:350px;*/
    color: white;
    font-weight: bold;
    margin-left: 25px;
    text-align: center;
    font-size: 50px;
    width: 100px;

}



.flex div{
    -ms-flex : 1; 
    flex: 1;
}

.flex > div {
    margin-left: 10%;
    margin-right: 10%;
  }

.done{
    position: absolute;
    right: 400px;
    vertical-align: middle;
    background-color:white;
    color: #F08080;
    cursor: pointer;
    text-align: center;
    width: 100px;
    font-size: 25px;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.nameRequired{
    color:red;
    display: none;
}

.flex{
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    justify-content:flex-start;

}

.header{
    padding-top: 40px;
    padding-bottom: 80px;
    padding: 30px 40px;
    color: white;
    text-align: center;}

.formGoalRequired{
    display: block;
}

.container{
    padding: 16px;

}

.name{
    position: center;
    text-align: center;
    font-weight: bold;
    /*width: 100px;*/
    margin-left: 100px;
    font-size: 30px;
}  

.nameRequired {
    display: none;
}
  
.nameGoal:hover + .nameRequired {
    display: block;
    color: red;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#formGoal{
    position: fixed;
}

.form {
    display:none;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    animation-name: fromtop;
    animation-duration: 0.4s
}

.new {
    
    width: 60px;
    font-size: 16px;
    padding: 4px;
    position: absolute;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: red;
    color: white;
}

.space{
    flex-shrink: 3;
    width:10px;
}


.goals{
    align-content: center;
}
  

.description{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

@keyframes fromtop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@media screen and (max-width: 1400px) {
   
    div.goal.checked {
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 60px;
    }

    .done{
        right: 200px;
    }

    .goal{
       padding: 20px;
      margin: 0px;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 60px;
    }

    .goalForm{
      margin-left: 50px;
      margin-right: 50px;
    }

    .close{
        right: 10px;
    }

    .title{
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media screen and (max-width: 900px) {
   
    div.goal.checked {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 30px;
    }
    
    
    .goal{
        padding: 20px;
        margin: 0px;
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 30px;
    }
    
    .goalForm{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    
    .title{
        margin-left: 25px;
        margin-right: 25px;
    
    }

    .space{
        width: 50px;
    }
    
    
}
    
      
      
      